<nav id="header-container">
    <div id="header">
        <a href="/">
            <img
                id="header-logo"
                class="hide-small"
                src="assets/avar_plyly_logo_small_white_back.webp"
            />
            <div id="header-title" class="hide-small">עבר פלילי עם דנה הילמן</div>
        </a>
        <ul id="header-links">
            <li><a href="/episodes" id="records-link" class="hvr-fade">פרקים</a></li>
            <li><a href="/posts" class="hvr-fade">רשומות</a></li>
            <li><a href="/about" class="hvr-fade">אודות</a></li>
            <li><a href="/newsletter" class="hvr-fade">ניוזלטר</a></li>
            <li>
                <a href='/'>
                    <img id="logo-seperator" src="assets/avar_plyly_logo_small_white_back_all_red.webp"/>
                </a>
            </li>
            <li><a  class="hvr-fade" href="/contact">שמרו על קשר</a></li>
            <li><a  class="hvr-fade" target="_blank" href="https://www.patreon.com/Plyly">Patreon</a></li>
        </ul>
    </div>
</nav>

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PR4WJ6H"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>