<!DOCTYPE html>
<html lang="he">
    <head>
        {%- include meta.html -%}
        <title>עבר פלילי עם דנה הילמן | Criminal Record podcast</title>
        <script type="text/javascript" src="https://platform-api.sharethis.com/js/sharethis.js#property=5fddcff80ebbe0001127a66c&product=inline-share-buttons" async="async"></script>
    </head>
   
    {%- include css_links.html -%}
<body dir="rtl">
    {%- include header.html -%}
    {{ content }}
    <div style="width:100%; text-align:center;">
    <div style="margin-bottom:10px;" >כל הזכויות שמורות לדנה ודרור הילמן 2021 © </div>
    </div>

</body>
</html>